header {
    background-color: black;
}

.main_title {
    text-align: center;
}

body {
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}

.nav-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto, auto, auto, auto, auto, auto;
    grid-template-rows: auto;
    text-align: center;
}

nav {
    background-color: black;
    top: 0px;
    position: sticky;
}

.nav-item {
    border-style: solid;
    border-color: white;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white;
}

.nav-item:hover {
    background-color: gray;
}

main {
    text-align: center;
}

p {
    color: white;
    line-height: 1.6;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

ul {
    color: white;
    list-style: none;
    font-style: italic;
}

.deathStarOne {
    width: 2px;
    height: 2px;
}

table, th, td {
    color: white;
    border: 1px solid white;
    padding: auto;
    word-spacing: auto;
}

#page_text {
    margin-left: 500px;
    margin-right: 500px;
}

hr {
    width: 500px;
    color: white;
}

.grid-container {
    text-align: center;
    color: white;
    border-spacing: auto;
    gap: 3px;
}

main {
    justify-content: center;
}

.ds2 {
    display: inline;
    text-align: center;
}